body {
  background-color: #333
}

#root {
  width: 360px;
  margin: 0 auto;
  background-color: #666
}

#header_top {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 10px;
  background: #03ce88;
  background: linear-gradient(0deg, rgba(3, 206, 136, 1) 0, rgba(0, 212, 255, 1) 100%);
}

.link {
  float: left;
  width: 40px;
  height: 40px;
  background-color: #aaa
}

.logo {
  width: calc(100% - 80px);
  background-color: #888;
}

.config_app {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  align-items: flex-end
}

#tab_indicate {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff
}

#tab_indicate::after {
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #ff2c2c;
  content: '';
  transition: all .3s
}

#menu_tab {
  display: flex;
  width: 100%;
  height: 30px;
  padding: 5px 0;
  background-color: #ccc;
  box-sizing: border-box
}

#menu_tab>li {
  width: 25%;
  height: 100%;
  text-align: center;
  border-right: 1px solid #000
}

#menu_tab>li:last-child {
  border-right: none
}

#tab_indicate::after {
  left: 0
}

#tab_indicate.home::after {
  left: 0
}

#tab_indicate.search::after {
  left: 25%
}

#tab_indicate.favorite::after {
  left: 50%
}

#tab_indicate.rank::after {
  left: 75%
}

#container {
  width: 100%;
  padding: 10px;
  background-color: #000;
  box-sizing: border-box
}

.cont {
  width: 100%;
  background-color: #aaa
}

.icon_wrap {
  height: 20px;
  margin-bottom: 10px
}
.icon{
  display: inline-block;
  width: 20px;
  background-color: #fff;
}

.item {
  display: inline-block;
  width: 165px;
  height: 30px;
  margin: 0 10px 10px 0;
  padding: 6px;
  border: 1px solid #000;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.item:nth-child(2n) {
  margin-right: 0
}

.item button {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  line-height: 10px
}

/* home_button */
.home_link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  font-size: 10px;
  line-height: 24px;
}