body {
  background-color: #eee;
}

#root {
  width: 360px;
  margin: 0 auto;
}

#header_top {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 10px;
  background: #03ce88;
  background: linear-gradient(
    0deg,
    rgba(0, 212, 255, 1) 0,
    rgba(3, 206, 136, 1) 100%
  );
}
svg {
  fill: #000;
}

#header_top svg {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.link,
.back {
  width: 40px;
  height: 40px;
}

.logo,
.title {
  width: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.config_app,
.star {
  width: 40px;
  height: 40px;
}

#tab_indicate {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
}

#tab_indicate::after {
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #2c53ff;
  content: "";
  transition: all 0.3s;
}

#menu_tab {
  display: flex;
  width: 100%;
  height: 30px;
  padding: 5px 0;
  background-color: #ccc;
  box-sizing: border-box;
}

#menu_tab > li {
  width: 25%;
  height: 100%;
  text-align: center;
  border-right: 1px solid #000;
}

#menu_tab > li:last-child {
  border-right: none;
}

#tab_indicate::after {
  left: 0;
}

#tab_indicate.home::after {
  left: 0;
}

#tab_indicate.search::after {
  left: 25%;
}

#tab_indicate.favorite::after {
  left: 50%;
}

#tab_indicate.rank::after {
  left: 75%;
}

#container {
  width: 100%;
  height: calc(100vh - 92px);
  padding: 10px;
  box-sizing: border-box;
}

.cont {
  width: 100%;
}

.icon_wrap {
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  align-items: center;
}
.icon {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
  background-color: #fff;
}

.item {
  height: 30px;
}

.item a {
  display: block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#home_list .item {
  display: inline-block;
  width: 165px;
  height: 30px;
  margin: 0 10px 10px 0;
  padding: 6px;
  border: 1px solid #8396a5;
  border-radius: 5px;
  background-color: #a7bfd1;
  text-align: center;
  font-size: 14px;
}

#home_list .item:nth-child(2n) {
  margin-right: 0;
}

.search_wrap {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 10px 0;
}

.search_icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 12px;
}

.search_icon svg {
  fill: #ccc;
}

#search_bar {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 0 16px 0 36px;
}

#search_list {
  height: calc(100vh - 174px);
  overflow-y: scroll;
  scrollbar-width: thin;
}
#search_list::-webkit-scrollbar {
  width: 8px;
}
#search_list::-webkit-scrollbar-thumb {
  border-radius: 16px;
}

#search_list .item {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px;
  border-top: 1px solid #999;
  align-items: center;
}

#search_list .item:first-child {
  border-top: none;
}
/* home_button */
/* .home_link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  font-size: 10px;
  line-height: 24px;
} */

#favorite_list li {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px;
  border-top: 1px solid #999;
  line-height: 22px;
}
#favorite_list li:first-child {
  border-top: none;
  margin-top: 15px;
}

#favorite_list, #rank_list {
  display: flex;
  width: 100%;
  height: calc(100vh - 144px);
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
}

#rank_list::-webkit-scrollbar {
  width: 8px;
}

#rank_list::-webkit-scrollbar-thumb {
  border-radius: 16px;
}

#rank_list li {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #999;
}

#rank_list li:first-child {
  border-bottom: none;
  margin-bottom: 5px;
}

#rank_list .rank {
  width: 60px;
}

#rank_list .name {
  width: calc(100% - 120px);
}

#rank_list .change {
  display: flex;
  width: 120px;
  justify-content: center;
  position: relative;
}

#rank_list .change svg {
  position: absolute;
  width: 14px;
  top: 0;
  left: 15px;
}

#game_list {
  display: flex;
  width: 100%;
  height: calc(100vh - 116px);
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
}

#game_list::-webkit-scrollbar{
  width: 8px;
}
#game_list::-webkit-scrollbar-thumb{
  border-radius: 16px;
}

#game_list li{
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #999;
}

#game_list li:first-child{
  padding: 8px;
  border-bottom: none;
  margin-bottom: 5px;
}

#game_list li a{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 8px;
}

#game_list .server_name{
  width: 120px;
}
#game_list .day_price{
  width: 120px
}
#game_list .change_price{
  display: flex;
  width: 120px;
  justify-content: center;
  position: relative;
}

#game_list .change svg {
  position: absolute;
  width: 14px;
  top: 0;
  left: 15px;
}

.ChangeUp {
  fill: #f00;
}
svg.ChangeDown {
  top: -3px;
  fill: #00f;
}
.ChangeNone {
  fill: #666;
}

.modal_wrap {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}
.modal {
  position: relative;
  width: 80%;
  height: 200px;
  padding: 30px;
  background-color: #fff;
  border-radius: 25px;
}
.modal_title {
  margin-bottom: 20px;
  font-size: 24px;
}
.modal_text {
  font-size: 14px;
}
.modal_btn_wrap {
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  line-height: 26px;
  text-align: center;
}
.modal_btn {
  width: 60px;
  display: inline-block;
  background-color: #fff;
  border: none;
  color: #005a17;
  font-weight: bold;
}

.modal_confirm {
  margin-left: 30px;
}